# Editors and IDEs.
*~
.editorconfig
.vscode
/.idea/

# OSX.
.DS_Store

# Build.
dist/
/build/
node_modules/

/python/env
/python/.eggs
/python/dist
/python/reactive_papi*
/target/
/.classpath
/.project
/.settings/